# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/controller"
    schedule:
      interval: "daily"
    # Limit number of open PRs to 0 so that we only get security updates
    # See https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "mosn.io/htnn/*"
      # the Envoy lib need to be fit with the Envoy we use. So let's disable auto-updates.
      - dependency-name: "github.com/envoyproxy/*"
      # So as the Istio's
      - dependency-name: "istio.io/*"
    groups:
      k8s.io:
        patterns:
          - "k8s.io/*" # client-go and her friends
      onsi:
        patterns:
          - "github.com/onsi/*" # onsi/gomega and her friends
  - package-ecosystem: "gomod"
    directory: "/plugins"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "mosn.io/htnn/*"
      # the Envoy lib need to be fit with the Envoy we use. So let's disable auto-updates.
      - dependency-name: "github.com/envoyproxy/*"
  - package-ecosystem: "gomod"
    directory: "/api"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 0
    ignore:
      # the Envoy lib need to be fit with the Envoy we use. So let's disable auto-updates.
      - dependency-name: "github.com/envoyproxy/*"
      # So as the Istio's
      - dependency-name: "istio.io/*"
  - package-ecosystem: "gomod"
    directory: "/types"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: "mosn.io/htnn/*"
      # the Envoy lib need to be fit with the Envoy we use. So let's disable auto-updates.
      - dependency-name: "github.com/envoyproxy/*"
      # So as the Istio's
      - dependency-name: "istio.io/*"
    groups:
      k8s.io:
        patterns:
          - "k8s.io/*" # client-go and her friends
  - package-ecosystem: "gomod"
    directory: "/tools"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/site"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/site"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/site"
    schedule:
      interval: "weekly"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: "weekly"
