pilot:
  image: "htnn/controller:e2e"
  env:
    HTNN_ENABLE_LDS_PLUGIN_VIA_ECDS: "true"
    PILOT_ENABLE_ALPHA_GATEWAY_API: true
    UNSAFE_PILOT_ENABLE_RUNTIME_ASSERTIONS: "true"
    UNSAFE_PILOT_ENABLE_DELTA_TEST: "true"
  volumes:
  - emptyDir:
      medium: Memory
      sizeLimit: 20Mi
    name: nacos-log
  - emptyDir:
      medium: Memory
      sizeLimit: 1Mi
    name: nacos-cache
  volumeMounts:
  - name: nacos-log
    mountPath: /log
  - name: nacos-cache
    mountPath: /cache
global:
  proxy:
    image: "htnn/gateway:e2e"
    componentLogLevel: "config:debug,golang:debug"
  imagePullPolicy: IfNotPresent
  logging:
    level: "htnn:debug"
