name: CI triggered by release tag
on:
  push:
    tags:
      - "image/*"

env:
  REGISTRY: ghcr.io
  PROXY_IMAGE_NAME: ghcr.io/mosn/htnn-proxy
  CONTROLLER_IMAGE_NAME: ghcr.io/mosn/htnn-controller

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag version
        shell: bash
        run: |
          echo "TAG_VERSION=${GITHUB_REF##*/}" >> "$GITHUB_ENV"

      # for the go commands in `make prebuild`
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache-dependency-path: "**/*.sum"

      # The built image can be found in:
      # https://github.com/mosn/htnn/pkgs/container/htnn-controller
      # https://github.com/mosn/htnn/pkgs/container/htnn-proxy
      - name: Build and push Docker image
        run: |
          make prebuild
          cd ./manifests
          # push image with the tag
          export PROXY_IMAGE=${{ env.PROXY_IMAGE_NAME }}:${{ env.TAG_VERSION }}
          export CONTROLLER_IMAGE=${{ env.CONTROLLER_IMAGE_NAME }}:${{ env.TAG_VERSION }}
          make build-proxy-image
          make build-controller-image
          make push-image
