name: test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
    - "./docs"
    - "**/*.md"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
    - "./docs"
    - "**/*.md"

env:
  IN_CI: true

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: make build-so-local

    - name: Test
      run: make unit-test

  plugins-integration-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Set up services
      run: |
        cd ./ci/ && docker-compose up -d

    - name: Build
      run: make build-test-so

    - name: Test
      run: make plugins-integration-test
    - name: Upload logs
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        # upload artifact can be found in https://github.com/mosn/moe/actions/runs/$id
        name: ci-logs
        path: ./test-envoy

  controller-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./controller
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
        # working-directory doesn't affect the cache path
        cache-dependency-path: ./controller/go.sum

    - name: Test
      run: make test
